.storage {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 20px;
	user-select: none;
	.dir-view {
		color: var(--fg-1);
		padding: 35px;

		border-radius: 6px;
		box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.7);
		background-color: rgba(0, 0, 0, 0.15);
		backdrop-filter: blur(25px);

		min-width: 640px;
		position: relative;
		width: 100%;
		min-height: 100%;
		overflow-x: hidden;
		overflow-y: auto;

		.top-bar {
			position: absolute;
			width: 100%;
			height: 28px;
			left: 0;
			top: 0;
			.title {
				display: inline-block;
				padding: 4px 11px;
				color: var(--fg-1);
			}
			.top-buttons {
				position: absolute;
				right: 5px;
				top: 5px;
				.close,
				.options {
					position: relative;
					width: 18px;
					height: 18px;
					display: inline-block;
					background: rgba(0, 0, 0, 0.1);
					border: 1px solid var(--bg-1);
					border-radius: 6px;
					color: var(--fg-1);
					padding: 0px 0px;
					font-size: 16px;
					opacity: 0.65;
					transition: 150ms;
					cursor: pointer;
					margin-left: 3px;
				}
				.close:hover {
					background-color: rgb(255, 72, 72);
					border-color: #bd0e0e;
					box-shadow: 0px 0px 5px 0px #ff3e3e;
					& > span {
						color: #a50808;
					}
				}

				.close > span {
					position: absolute;
					font-size: 10px;
					left: 4px;
					top: 1px;
					color: transparent;
				}
			}
		}

		.entries {
			padding: 15px;

			.entry {
				&:first-child {
					border-top: 1px solid var(--fg-2);
				}
				border-bottom: 1px solid var(--fg-2);
				padding: 8px;
				font-size: 18px;
				cursor: pointer;
				&:hover {
					background-color: var(--bg-1);
				}
			}
		}

		.add-folder-panel {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			padding: 35px;
			background-color: var(--bg-1);
			border-radius: 6px;
			backdrop-filter: blur(5px);
			box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.7);
			text-align: center;
			display: none;
			&.show {
				display: block;
			}

			.error {
				color: var(--fg-1);
				background-color: #a93f3f;
				border-radius: 6px;
				padding: 5px;
				margin: 5px 5px 13px 5px;
			}
		}
	}
}
